.faq-section {
    display: flex;
    justify-content: space-between;
    padding-top: 128px;
    gap: 80px;
}

.faq-title {
    display: flex;
    flex-direction: column;
    gap: 70px;
    width: 460px;
}

.faq-title > .emphasis-p {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 78px;
    background-color: #E8E2FA;
    padding: 8px 32px;
    border-radius: 50px;
    color: var(--color-purple);
    font-family: var(--font-body);
    font-size: var(--font-size-p);
}

.faq-title > h1 {
    font-family: var(--font-head);
    font-size: var(--font-size-h1);
}

.faq-title > h1 > span {
    color: var(--color-purple);
}

.faq-title > p {
    font-family: var(--font-body);
    font-size: var(--font-size-p);
}

.faq-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    max-width: 740px;
    width: 100%;
}

 .accordion {
    background-color: #FFFFFF;
    border: 1px solid #C9C9C9;
    border-radius: 16px;
    padding: 15px 30px;
    cursor: pointer;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}

 .accordion-header {
    width: 100%;
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    font-size: var(--font-size-p);
    font-family: var(--font-body);
    font-weight: var(--font-semi-bold);
}

 .accordion-header span {
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

 .accordion-body {
    color: #444;
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: opacity .3s;
    font-size: var(--font-size-p);
    font-family: var(--font-body);
}

.accordion-body.active {
    height: 100%;
    opacity: 1;
    padding: 5px 0px;
}

.arrow {
    transition: transform .2s linear;
}

.accordion:has(.active) .arrow {
    transform: rotate(180deg);
}