.statiscs-section {
    display: flex;
    flex-direction: column;
    gap: 36px;
    align-items: center;
    padding-top: 128px;
}

.statiscs-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 36px;
}

.statiscs-title > h2 {
    font-family: var(--font-head);
    font-size: var(--font-size-h2);
    font-weight: var(--font-bold);
}

.statiscs-title > h2 > span {
    color: var(--color-purple);
}

.statiscs-title > .emphasis-p {
    background-color: #E8E2FA;
    padding: 8px 32px;
    border-radius: 50px;
    color: var(--color-purple);
    font-family: var(--font-body);
    font-size: var(--font-size-p);
}

.statiscs-content {
    display: flex;
    flex-direction: row;
    gap: 36px;
    align-items: center;
    padding: 24px;
}

.statiscs-content > div {
    display: flex;
    flex-direction: row;
    border-right: 1px solid var(--color-gray-1);
    align-items: center;
    padding: 0px 24px;  
    height: 145px;
}

.statiscs-content > div > img {
    width: 70px;
    height: 70px;
}

.statiscs-content > div > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 220px;
}

.statiscs-content > div:nth-child(4) {
    border: none;
}

.statiscs-content > div > div > h3 {
    font-family: var(--font-head);
    font-size: var(--font-size-h3);
    color: var(--color-purple);
}

.statiscs-content > div > div > p {
    font-family: var(--font-body);
    font-size: 14px;
}